[Unit]
Description=Str2str From Slave1 to save movingbase to file
After=network.target

[Service]
ExecStart=/usr/local/bin/str2str -in tcpcli://localhost:8081 -out file://ubxSlave1%Y%m_%d%h-&M.ubx
Restart=always
User=m600

[Install]
WantedBy=multi-user.target
